body, html{
    width: 100%;
}

div .row{
    display: flex;
    flex-direction:row;
}

.col{
    margin-left: 2rem;
    

}

.cart-heading{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: auto;
}
.cart-item{
    float: right;
    margin-right: 30rem;
    margin-top: 2rem;
    font-family: auto;
    font-size: large;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-left: 18rem;
     padding: 1rem;}
